.sidebar {
    width: 1.5in;  /* Smaller width */
    top: 0;
    background-color: #6E3482;
    height: 100vh;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1;
}

.sidebar-logo {
    width: 60%;  /* Reduce logo size */
    height: auto;
    max-width: 100%;
    margin-bottom: 30px; /* Add spacing below logo */
}

.sidebar-button {
    border: none;
    padding: 10px;
    cursor: pointer;
    background: none;
    margin: 15px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    position: relative; /* For tooltip positioning */
}

.sidebar-button i {
    font-size: 20px; /* Smaller icons */
    color: #fff;
}

.sidebar-button:hover {
    background-color: rgba(240, 240, 240, 0.5);
    border-radius: 5px;
}

/* Tooltip styles */
.sidebar-button .tooltip {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 100%;
    margin-left: 10px;
    background-color: #6E3482;
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    transform: translateY(-50%);
    white-space: nowrap;
    opacity: 0;
    transition: opacity 0.3s;
}

.sidebar-button:hover .tooltip {
    visibility: visible;
    opacity: 1;
}

