/* Global reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
  font-family: 'Inter', sans-serif;
  background-color: #F5EBFA;
}

#root {
  height: 100%; /* Ensure the root element fills the full height */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden; /* Ensure no scrollbars */
}
